<div class="confirmation-page">

<div class="header">

  <%- partial ('partials/navbar.ejs') %>

  <h1><%= headerText %></h1>

  <img src="<%= headerImage %>">

</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <p><%= bodyText %></p>
      </div>

      <% if (referralCode.length > 0) { %>
      <div class="referral-container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h3>Your Referral Link</h3>
        <p>
          Here is your unique referral link!<br>
          <div class="referral-link-container">
            <a href="/?r=<%= referralCode %>" href="" id="referral-link-url" target="_blank">www.shinetext.com/?r=<%= referralCode %></a>
          </div>
        </p>
        <p>
          Get 10 friends to join and earn a Shine sticker! You can check your
          progress on the <a href="/referrals">Referrals</a> page.
        </p>
      </div>
      <% } %>
    </div>
  </div>
</div>

</div>