<div class="confirmation-page">

<%- partial ('partials/navbar.ejs') %>

<div class="header">

  <h1><%= headerText %></h1>

  <img src="<%= headerImage %>">

</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <p><%= bodyText %></p>
      </div>

      <% if (referralCode.length > 0) { %>
      <div class="referral-container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h3>Your Referral Link</h3>
        <p>
          <div class="referral-link-container"
            data-clipboard-text="www.shinetext.com/?r=<%= referralCode %>">
            <div id="referral-link-url">
              www.shinetext.com/?r=<%= referralCode %>
            </div>
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          <div class="referral-link-copied-confirmation">Copied!</div>
        </p>
        <p>
          Get 10 friends to join & you'll get an invite to our closed VIP group, the Shine Squad (plus swag)! You can check your progress on the <a href="/referrals">Referrals</a> page.
        </p>
      </div>
      <% } %>
    </div>
  </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>
// For copying the link to the clipboard
var clipboard = new Clipboard('.referral-link-container');
clipboard.on('success', function(e) {
  $('.referral-link-copied-confirmation').hide().slideDown();
  e.clearSelection();
});
</script>